.value {
  font-size: 40px;
  color: #034603;
}
.counterDiv {
  display: flex;
  flex-direction: column;
}

.buttonsDiv {
  display: flex;
  margin-top: 15px;
}

.limit {
  display: none;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

input::placeholder {
  font-weight: bold;
  font-size: 1.5em;
  opacity: 0.5;
  color: blue;
}

.name {
  padding: 7px;
  font-weight: 500;
  font-size: 25px;
  line-height: 18px;
  color: #005889;
  cursor: pointer;
}
